
#Factory
#JavaScript related
Factory-Pattern/JavaScript/package-lock.json
Factory-Pattern/JavaScript/node_modules/*

#TypeScript related
Factory-Pattern/TypeScript/node_modules/*
Factory-Pattern/TypeScript/package-lock.json

#Proxy (?)
#JavaScript related
Proxy-Pattern/JavaScript/package-lock.json
Proxy-Pattern/JavaScript/node_modules/*

#Observer
#JavaScript related
Observer-Pattern/JavaScript/package-lock.json
Observer-Pattern/JavaScript/node_modules/*

#Singleton
#JavaScript related
Singleton-Pattern/JavaScript/package-lock.json
Singleton-Pattern/JavaScript/node_modules/*